*{
    margin: 0;
    padding: 0;
}

body{
    display:flex;
}

.first{
    width: 150px;
    height: 150px;
    background-color: aquamarine;
}

.second{
    width: 150px;
    height: 150px;
    background-color:antiquewhite;
}